/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;500&family=DM+Sans:opsz,wght@9..40,200&family=Mooli&family=Poppins:wght@500&display=swap");

#root {
  box-sizing: border-box;
  font-family: "Bitter", serif;
  --light-color: #c4d46f;
  --yellow-color: #fff26a;
  --maroon-color: #860c46;
  --voilet-color: #4f036b;
  --bronze-color: #cd7f32;
}

.fakelandiaHeader {
  /* padding: 1rem 5rem; */
  background: var(--yellow-color);
}
.fakelandiaHeader__title {
  font-size: 4rem;
  color: var(--maroon-color);
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-nav {
  text-align: center;
  background-color: var(--light-color);
}

.main-nav__list {
  /* justify-content: space-evenly; */
  list-style-type: none;
  font-family: poppins;
  font-size: 2rem;
}

.linkInActive {
  color: var(--voilet-color);
}
.linkActive {
  font-size: 2.2rem;
}

.linkActive:hover,
.linkInActive:hover {
  background-color: orange;
}

.table {
  font-family: "Courier New", Courier, monospace;
}

.table__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 2rem;
  border-bottom: 1px solid #dce1ea;
  box-sizing: border-box;
}
.table__row--header {
  box-shadow: 0 1px 2px 0 #e9effa;
  color: var(--bronze-color);

  .column {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  /* column-gap: 2rem; */
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}

.column {
  font-size: 2rem;
  -webkit-font-smoothing: antialiased;
}
.errorMessages {
  font-size: 1.2rem;
  color: red;
}
.confessions {
  font-size: 1.5rem;
}
.confession_rowWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 2rem;
}

.textArea {
  width: 50rem;
  height: 20rem;
}

.submit_button {
  font-size: 1.5rem;
  font-weight: bolder;
  color: darkmagenta;
  background-color: lightblue;
  width: 10rem;
  height: 4rem;
}

.submit_button:hover {
  color: rgb(218, 207, 218);
  background-color: rgb(75, 135, 155);
}
.submit_button:disabled {
  background-color: grey;
  color: #e9effa;
}
