/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;500&family=DM+Sans:opsz,wght@9..40,200&family=Mooli&family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;500&family=DM+Sans:opsz,wght@9..40,200&family=Mooli&family=Permanent+Marker&family=Poppins:wght@500&display=swap");

#root {
  box-sizing: border-box;
  font-family: "Bitter", serif;
  --light-color: #c4d46f;
  --yellow-color: #fff26a;
  --maroon-color: #860c46;
  --voilet-color: #4f036b;
  --bronze-color: #cd7f32;
  --orangered-color: #ff4500;
}

.fakelandiaHeader {
  /* padding: 1rem 5rem; */
  background: var(--yellow-color);
}
.fakelandiaHeader__title {
  font-size: 4rem;
  color: var(--maroon-color);
}

.main-nav {
  text-align: center;
  background-color: var(--light-color);
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    font-family: poppins;
    font-size: 2rem;
  }
  .linkInActive {
    color: var(--voilet-color);
  }
  .linkActive {
    font-size: 2.2rem;
  }

  .linkActive:hover,
  .linkInActive:hover {
    background-color: orange;
  }
}

/* .homePage {
  text-align: center;
} */
.cards__wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /*max-width: 62.5em;
   min-width: 70vw;
  min-height: 45vh; */
}
.card {
  padding: 1.5em;
  border: 6px solid rgb(64, 117, 152);
  width: 25em;
  border-radius: 7px;
  background: rgb(160, 183, 208);
  margin-bottom: 1em;
  box-shadow: 0 4px 8px 0 rgb(13, 59, 102, 0.4);
  transition: 0.3s;
  margin: 0.5em;
  .card__text {
    color: var(--maroon-color);
    font-size: 2rem;
    font-family: "Permanent Marker", cursive;
  }
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(254, 255, 255, 0.4);
}

.table {
  font-family: "Courier New", Courier, monospace;
}

/*Following CSS is using Flexbox*/
.table__row,
.table__row--selfConfession {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-bottom: 1px solid #dce1ea;
  padding: 0.5rem;
  .table__column {
    font-size: 1.5rem;
    -webkit-font-smoothing: antialiased;
  }
  .table__column--citizenId {
    width: 3rem;
  }
  .table__column--date {
    width: 5rem;
  }
  .table__column--misdemeanour {
    width: 12rem;
  }
  .table__column--punishmentIdea {
    width: 12rem;
  }
}

/*Following CSS is using grid
.table__row,
.table__row--selfConfession {
  display: grid;
  grid-template-columns: repeat(auto-fill, 25%);
  grid-template-rows: repeat(auto-fill, 100%);
  padding: 0.5rem;
  border-bottom: 1px solid #dce1ea;
  .table__column {
    font-size: 1.5rem;
  }
}
*/
.table__row--header {
  box-shadow: 0 1px 2px 0 #e9effa;
  color: var(--bronze-color);
  .table__column {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
.table__row--selfConfession {
  color: var(--orangered-color);
}

.errorMessages {
  font-size: 1.2rem;
  color: red;
}
.confessions__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 2rem;
  padding: 0.5rem;

  .confessions {
    font-size: 1.2rem;
  }
  .tag {
    width: 9rem;
  }

  .textArea {
    width: 50rem;
    height: 20rem;
  }
}
.submit_button {
  font-size: 1.5rem;
  font-weight: bolder;
  color: darkmagenta;
  background-color: lightblue;
  width: 10rem;
  height: 4rem;
}
.submit_button:hover {
  color: rgb(218, 207, 218);
  background-color: rgb(75, 135, 155);
}
.submit_button:disabled {
  background-color: grey;
  color: #e9effa;
}

.postMessage {
  font-size: 2rem;
  font-weight: 900;
  color: greenyellow;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid var(--light-color); /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
